<main>
  <%# user info %>
  <section>
    <div>
      <div></div>
      <div>
        <h1><%= @user.name %></h1>
        <p>Number of posts: <%= @user.posts_counter %></p>
      </div>
    </div>
  </section>
  <%# post show %>
  <section>
    <ul>
      <% @posts.each do |post| %>
        <%= link_to user_post_path(user_id: post.author_id, id: post.id) do %>
          <li>
            <div>
              <h2><%= post.title %></h2>
              <p><%= post.text %></p>
              <div>
                <span>Comments: <%= post.comments_counter %></span>
                <span>Likes: <%= post.likes_counter %> </span>
              </div>
            </div>
            <div>
              <h4>Comments:</h4>
              <%# comment show %>
              <ul>
                <% post.recents_comments.each do |comment| %>
                  <p><%= comment.author.name %>: <%= comment.text %></p>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
</main>
